# Dev / editor
.vscode/**
.vscode-test/**
.yarnrc
vsc-extension-quickstart.md

# Source
src/**
**/*.ts
**/*.map
**/tsconfig.json

# Tooling
node_modules/**
out/**
.eslintrc.json
eslint.config.mjs
esbuild.js

resources/mingw32.zip
resources/**/*.zip


!dist/**
!resources/graphics/**

# Docs
!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
